<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean class="in.sp.beans.Address" id="addrId" autowire-candidate="false">
       <constructor-arg value="1010" />
       <constructor-arg value="nitesh" />
       <constructor-arg value="6536563" />

   </bean>

    <bean class="in.sp.beans.Address" id="addrId1">
        <constructor-arg value="1010" />
        <constructor-arg value="nitesh" />
        <constructor-arg value="6536563" />

    </bean>




    <bean class="in.sp.beans.Student" id="stdId" autowire="constructor"> <!-- byType checking onliy bean obj ex:addrId -->
        <constructor-arg value="nitesh" index="0"/>
        <constructor-arg value="123" index="1" />

    </bean>

</beans>