<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean class="in.sp.beans.Address" id="addrId">
       <property name="houseno" value="101" />
       <property name="city" value="khandwa" />
       <property name="pincode" value="112345" />


   </bean>


    <bean class="in.sp.beans.Address" id="addrId2" autowire-candidate="false"> <!-- autowire-candidate  prevent the obj and run other obj -->
        <property name="houseno" value="101" />
        <property name="city" value="khandwa" />
        <property name="pincode" value="112345" />


    </bean>

    <bean class="in.sp.beans.Student" id="stdId" autowire="byType"> <!-- byType checking onliy bean obj ex:addrId -->
        <property name="name" value="nitesh" />
        <property name="rollno" value="123" />

    </bean>

</beans>